<nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" routerLink="/"><img src="img/allshore-logo.png" alt="Allshore P & L" /> </a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <!-- <ul class="nav navbar-nav">
                           <li class="active"><a href="index.html">Dashboard</a></li>
                           <li><a href="posts.html">Posts</a></li>
                           <li><a href="pages.html">Pages</a></li>
                           <li><a href="products.html">Products</a></li>
                           <li><a href="users.html">Users</a></li>
                           <li><a href="settings.html">Settings</a></li>
                         </ul>-->
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="img/randall.jpg" alt="Randall Agee"> Randall Agee
                                </a>

                            </li>


                            </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>