<div class="col-md-12 col-xs-12 no-padding">
    <div class="x_panel">
        <div class="x_title">
            <h2>Dashboard </h2>      
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">       
                   <div class="x_panel tile">
                        <div class="x_title">
                        <h2>Profit & Loss</h2>
                        <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="countries_list">
                                <tbody>
                                <tr>
                                    <td>Total Income</td>
                                    <td class="fs15 fw700 text-right">
                                       {{allLocationIncome | currency:'USD':true}}
                                       <!--{{sumSalary?.gross | currency:'USD':true}}-->
                                    </td>
                                </tr>
                                <tr>
                                    <td>Total Expenses</td>
                                    <td class="fs15 fw700 text-right" style="color: red;">
                                        {{ (allLocationSalaries + allLocationExpense) | currency:'USD':true}}
                                        <!--({{sumSalary?.salary + totalSumUsd + totalSum /excahngeRate | currency:'USD':true}})-->
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fs17"><b>Total Net Profit</b></td>
                                    <td class="fs15 fw700 text-right" >
                                        <b *ngIf="indicationLoss_(allLocationIncome, allLocationSalaries, allLocationExpense) == true">
                                            {{ 
                                                totalProfitLoss(allLocationIncome, allLocationSalaries, allLocationExpense) | currency:'USD':true:'1.2-2' }}.
                                            </b>
                                        <b *ngIf="indicationLoss_(allLocationIncome, allLocationSalaries, allLocationExpense) == false" style="color: red;">({{ totalProfitLoss(allLocationIncome, allLocationSalaries, allLocationExpense) | currency:'USD':true:'1.2-2'}})</b>
                                        
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">       
                   <div class="x_panel tile">
                        
                        <div class="x_content">
                            <table class="countries_list">
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td class="fs17 fw700 text-right"><b>Income</b></td>
                                    <td class="fs17 fw700 text-right"><b>Support</b></td>
                                    <td class="fs17 fw700 text-right"><b>Bench Devs</b></td>
                                </tr>
                                
                                <tr *ngFor="let location of locations; let i = index">
                                    <td class="fs17">{{location.name}}</td>
                                    <td class="fs15 fw700 text-right">{{incomeEmployee[i]}}</td>
                                    <td class="fs15 fw700 text-right">{{supportEmployee[i]}}</td>
                                    <td class="fs15 fw700 text-right">{{benchEmployee[i]}}</td>
                                </tr>
                        
                                <hr style="border: none;" />
                                <tr>
                                    <td class="fs17"><b>Total</b></td>
                                    <td class="fs15 fw700 text-right">
                                        {{totalEmployeeIncome}}
                                    </td>
                                    <td class="fs15 fw700 text-right">
                                         {{totalEmployeeSupport}}
                                        </td>
                                    <td class="fs15 fw700 text-right">
                                         {{totalEmployeeBench}}
                                    </td>
                                </tr>
                                <hr style="border: none;" />
                                <tr>
                                    <td><strong>Total Employees</strong></td>
                                    <td class="fs15 fw700 text-right"></td>
                                    <td class="fs15 fw700 text-right"></td>
                                    <td class="fs15 fw700 text-right">
                                        <strong>
                                            {{totalEmployee}}
                                        </strong>
                                    </td>
                                </tr>
                                </tbody>
                            </table>                            
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                
                <div class="col-md-6 col-sm-6 col-xs-12" *ngFor="let location of locations; let i = index">       
                   <div class="x_panel tile">
                        <div class="x_title">
                        <h2>
                            {{location.name}}
                            
                        </h2>
                        <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="countries_list">
                                <tbody>
                                <tr>
                                    <td colspan="2">Total Income</td>
                                    <td class="fs15 fw700 text-right">
                                        {{totalIncomeLocation[i] | currency:'USD':true}}
                                        <!--{{employeeSumSalary?.gross | currency:'USD':true }}-->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">Total Expenses</td>
                                    <td *ngIf="usExpense[i] == 0" class="fs15 fw700 text-right" style="color: red;">
                                        {{ totalExpenseLocation[i] / excahngeRate | currency:'USD':true  }}
                                        <!--({{(totalOverheadIslamabadExp + employeeSumSalary?.salary) | currency:'USD':true }})-->
                                    </td>
                                    <td *ngIf="usExpense[i] == 1" class="fs15 fw700 text-right" style="color: red;">
                                        {{ totalExpenseLocation[i]  | currency:'USD':true  }}
                                        <!--({{(totalOverheadIslamabadExp + employeeSumSalary?.salary) | currency:'USD':true }})-->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><b>Total Net Profit</b></td>
                                    <td *ngIf="usExpense[i] == 0" class="fs15 fw700 text-right">
                                        {{ (totalIncomeLocation[i]) - (totalExpenseLocation[i] / excahngeRate) | currency:'USD':true }}
                                        <!--{{totalNetProfit[i] / excahngeRate | currency:'USD':true}}-->
                                        <b *ngIf="indicationLoss(islamabadSumSalary?.gross, islamabadSumSalary?.salary, totalOverheadIslamabadExp) == true">
                                            <!--{{totalProfitLoss(employeeSumSalary?.gross, employeeSumSalary?.salary, totalOverheadIslamabadExp) | currency:'USD':true }}-->
                                        </b>
                                        <b *ngIf="indicationLoss(islamabadSumSalary?.gross, islamabadSumSalary?.salary, totalOverheadIslamabadExp) == false" style="color: red;">
                                            <!--({{totalProfitLoss(employeeSumSalary?.gross, employeeSumSalary?.salary, totalOverheadIslamabadExp) | currency:'USD':true }})-->
                                        </b>
                                    </td>

                                    <td *ngIf="usExpense[i] == 1" class="fs15 fw700 text-right">
                                        
                                        <b *ngIf="indicationLoss((totalIncomeLocation[i]), (totalExpenseLocation[i])) == true">
                                            {{ (totalIncomeLocation[i]) - (totalExpenseLocation[i]) | currency:'USD':true }}
                                        </b>
                                        <b *ngIf="indicationLoss((totalIncomeLocation[i]), (totalExpenseLocation[i])) == false" style="color: red;">
                                            {{ (totalIncomeLocation[i]) - (totalExpenseLocation[i]) | currency:'USD':true }}
                                        </b>
                                    </td>
                                </tr>
                                 <tr>
                                   <td colspan="3">
                                       <hr style="border: none;"  />
                                   </td>
                               </tr>
                                <tr>
                                    <td>Income Producing</td>
                                    <td>
                                        {{ incomeEmployee[i] }}
                                       <!--{{employeeData?.income}}-->
                                    </td>
                                    <td class="fs15 fw700 text-right"><a routerLink="/reports/{{location.id}}/loc/1/type" >
                                    {{ incomeEmployeeSalary[i] / excahngeRate | currency:'USD':true  }}
                                    
                                    <!--{{employeeData?.incomeSalary / excahngeRate | currency:'USD':true }}-->
                                    </a></td>
                                </tr>
                                <tr>
                                    <td>Support Staff</td>
                                    <td>
                                         {{supportEmployee[i]}}
                                        <!--{{employeeData?.support}}-->
                                    </td>
                                    <td *ngIf="usExpense[i] == 0" class="fs15 fw700 text-right"><a routerLink="/reports/{{location.id}}/loc/2/type" >
                                    {{ supportEmployeeSalary[i] / excahngeRate | currency:'USD':true }}
                                    <!--{{employeeData?.supportSalary / excahngeRate | currency:'USD':true }}-->
                                    </a></td>
                                     <td *ngIf="usExpense[i] == 1" class="fs15 fw700 text-right"><a routerLink="/reports/{{location.id}}/loc/2/type" >
                                    {{ supportEmployeeSalary[i] | currency:'USD':true }}
                                    <!--{{employeeData?.supportSalary / excahngeRate | currency:'USD':true }}-->
                                    </a></td>
                                </tr>
                                <tr>
                                    <td>Bench Devs</td>
                                    <td>
                                         {{benchEmployee[i]}}
                                        <!--{{employeeData?.bench}}-->
                                    </td>
                                    <td class="fs15 fw700 text-right"><a routerLink="/reports/{{location.id}}/loc/9/bench" >
                                    {{ benchEmployeeSalary[i] / excahngeRate | currency:'USD':true }}
                                    <!--{{employeeData?.benchSalary / excahngeRate | currency:'USD':true }}-->
                                    </a></td>
                                </tr>
                                <tr>
                                    <td>Overhead(s)</td>
                                    <td>
                                        {{totalOverhead[i]}}
                                        <!--{{totalOverheadIslamabad}}-->
                                    </td>
                                    <td *ngIf="usExpense[i] == 0" class="fs15 fw700 text-right">
                                        <a routerLink="/overheadreport/{{location.id}}/loc" >
                                            {{totalOverheadExp[i] / excahngeRate | currency:'USD':true}}
                                    </a></td>
                                    <td *ngIf="usExpense[i] == 1" class="fs15 fw700 text-right">
                                        <a routerLink="/overheadreport/{{location.id}}/loc" >
                                            {{totalOverheadExp[i] | currency:'USD':true}}
                                    </a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>  
     </div>
</div>