<div class="col-md-12 col-xs-12 no-padding">
    <div class="x_panel">
        <div class="x_title">
            <h2>Report </h2>      
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
                <div class="form-group">
                
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <label >Location</label>
                    <select class="select2_group form-control" name="location" (change)="onSubmit($event)"  >
                        <option value="">Select Location</option>
                        <option *ngFor="let location of locations | orderBy : ['name']" value="{{location.id}}">{{location.name}}</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <label >Department</label>
                    <select class="select2_group form-control " name="department"  (change)="onSubmit($event)">
                        <option value="">Select Department</option>
                        <option *ngFor="let department of departments | orderBy : ['name']" value="{{department.id}}">{{department.name}}</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <label >Client</label>
                    <select class="select2_group form-control" name="client" (change)="onSubmit($event)">
                       <option value="">Select Client</option>
                       <option *ngFor="let client of clients | orderBy : ['name']" value="{{client.id}}">{{client.name}}</option>
                    </select>
                </div>
               
                 <div class="col-md-1 col-sm-1 col-xs-12">
                     <label></label>
                    <button style="margin-top: 5px;" type="reset" (click)="onSubmit($event)" class="btn btn-default"><i class="fa fa-repeat"></i> Reset</button>
                </div>
               
                <div class="col-md-2 col-sm-2 col-xs-12 ">
                     <div class="row tile_count">
                         <div class="tile_stats_count">
                            <span class="count_top"><i class="fa fa-money"></i> Profit / Loss</span>
                            <div class="count">{{ totalProfitLoss(sumSalary?.gross, sumSalary?.salary, totalSum) | currency:'USD':true:'1.2-2' }}</div>
                         </div>
                     </div>
                </div>
                
               
                </div>  
                <hr />
                <div style="padding-top: 20px;" class="clear"></div>
                      
                <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="asc">
                        <thead>
                          <tr class="headings">                       
                            <th class="column-title">
                                <mfDefaultSorter by="name">Name</mfDefaultSorter>
                            </th>
                            <th class="column-title ">
                                <mfDefaultSorter by="client.name">Client</mfDefaultSorter>
                            </th>
                            <th class="column-title ">
                                <mfDefaultSorter by="department.name">Department</mfDefaultSorter>
                            </th>
                            <th class="column-title">Location</th>
                            <th class="column-title">
                                <mfDefaultSorter by="salary">PKR Salary</mfDefaultSorter>
                            </th> 
                            <th class="column-title">
                                <mfDefaultSorter by="salary">USD Salary</mfDefaultSorter>   
                            </th>                     
                            <th class="column-title">
                                <mfDefaultSorter by="rate">Rate</mfDefaultSorter> 
                            </th>
                            <th class="column-title ">Gross</th>
                            <th class="column-title ">Net</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="data?.length == 0">
                            <tr>
                                <td colspan="9" class="">
                                    No Record Found
                                </td>
                            </tr>
                        </tbody>
                        
                        <tbody *ngIf="data?.length > 0">
                          <tr  *ngFor="let employee of mf.data ">     
                                                
                           
                            <td><a  routerLink="/employee/{{employee.id}}/edit">{{employee.name}}</a></td> 
                            <td>{{employee.client.name}}</td>
                            <td>{{employee.department.name}}</td>
                            <td >{{employee.location.name}}</td>
                             <td (click)="setEditState(employee, true)">
                                 
                                 <span [class.hidden]="employee.isEditMode">{{employee.salary}}</span>
                                 <input class="form-control input-sm bottom-space" (keypress)="updateSalary($event, employee)"  style="width:50%;" type="text" [class.hidden]="!employee.isEditMode" [(ngModel)]="employee.salary" name="employee.salary" [value]="employee.salary" />
                             </td>
                             <td>{{ employee.salary / excahngeRate | currency:'USD':true:'1.2-2'}}</td>
                            <td>{{employee.rate | currency:'USD':true:'1.2-2'}}</td>
                            <td>{{employee.rate * totalHours | currency:'USD':true:'1.2-2'}}</td>
                            <td class=" last">{{(employee.rate * totalHours) - (employee.salary / excahngeRate) | currency:'USD':true:'1.2-2'}}</td>
                          </tr>             
                        </tbody>
                        <thead *ngIf="data?.length > 0">
                          <tr class="headings">                       
                            <th class="column-title">Total </th>
                            
                            <th class="column-title "></th>
                            <th class="column-title "></th>
                            <th class="column-title "></th>
                            <th class="column-title "></th>
                            <th class="column-title"> {{sumSalary?.salary | currency:'USD':true}} </th>                     
                            <th class="column-title "></th>
                            <th class="column-title ">{{sumSalary?.gross | currency:'USD':true}}</th>
                            <th class="column-title ">{{sumSalary?.net | currency:'USD':true}}</th>
                          </tr>
                          <tr class="headings">                       
                            <th class="column-title">Average </th>
                            
                            <th class="column-title "></th>
                            <th class="column-title "></th>
                            <th class="column-title "></th>
                            <th class="column-title "></th>
                            <th class="column-title"> {{sumSalary?.avgsalary | currency:'USD':true}} </th>                     
                            <th class="column-title "></th>
                            <th class="column-title ">{{sumSalary?.avggross | currency:'USD':true}}</th>
                            <th class="column-title ">{{sumSalary?.avgnet | currency:'USD':true}}</th>
                          </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="10" class="text-center">
                                    <mfBootstrapPaginator ></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                      </table>
                    </div>
        </div>
     </div>
</div>