

<div class="col-md-12 col-xs-12 no-padding">
    <div class="x_panel">
        <div class="x_title">
            <h2>Report </h2>      
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
                <div class="form-group">
                <form class="form-horizontal form-label-left" #f="ngForm" (ngSubmit)="f.reset()">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <label >Location</label>
                        <select class="select2_group form-control" name="location" (change)="onSubmit($event)"  >
                            <option value="">Select Location</option>
                            <option *ngFor="let location of locations | orderBy : ['name']" value="{{location.id}}">{{location.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <label >Type</label>
                        <select class="select2_group form-control " name="department"  (change)="onSubmit($event)">
                            <option value="">Select Type</option>
                            <option *ngFor="let type of types | orderBy : ['name']" value="{{type.id}}">{{type.name}}</option>
                        </select>
                    </div>
                    
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <label >Client</label>
                        <select class="select2_group form-control" name="client" (change)="onSubmit($event)">
                        <option value="">Select Client</option>
                        <option *ngFor="let client of clients | orderBy : ['name']" value="{{client.id}}">{{client.name}}</option>
                        </select>
                    </div>
                
                    <div class="col-md-1 col-sm-1 col-xs-12">
                        <button style="margin-top: 1.7em;" type="reset" (click)="onSubmit($event)" class="btn btn-default"><i class="fa fa-repeat"></i> Reset</button>
                    </div>
                
                <div *ngIf="data?.length > 0" class="col-md-2 col-sm-2 col-xs-12 ">
                     <div class="row tile_count">
                         <div class="tile_stats_count">
                            <!--<span class="count_top"><i class="fa fa-money"></i> Profit / Loss</span>
                            <div class="count">{{ totalProfitLoss(sumSalary?.gross, sumSalary?.salary, totalSum) | currency:'USD':true:'1.2-2' }}</div>-->
                         </div>
                     </div>
                </div>
                
               </form>
                </div>  
                <hr />
                <div style="padding-top: 20px;" class="clear"></div>
                
                <div class="table-responsive" *ngIf="overhead?.length > 0">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">                       
                            <th  class="column-title">Expense Name</th>
                            <th  class="column-title">Location</th>
                            <th  class="column-title">Total Expense PKR</th>
                            <th  class="column-title">Total Expense USD</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let overhead of overhead | orderBy : ['name']" class="">                       
                            <td><a  routerLink="/overhead/{{overhead.id}}/edit">{{overhead.name}}</a></td>
                            <td>{{overhead.location.name}}</td>
                            <td>{{overhead.cost}}</td>
                            <td>{{overhead.cost / excahngeRate | currency:'USD':true:'1.2-2'}}</td>
                            
                          </tr>             
                        </tbody>
                        <thead>
                          <tr class="headings">                       
                            <th class="column-title">Total </th> 
                            <th class="column-title"></th>                     
                            <th class="column-title ">PKR {{sumPKR?.expPKR | number : '1.2-2'  }}</th>
                            <th class="column-title ">{{sumUSD?.expUSD | currency:'USD':true}}</th>
                          </tr>
                          <tr class="headings">                       
                            <th class="column-title">Average </th>
                            <th class="column-title"></th>                     
                            <th class="column-title ">PKR {{sumPKR?.avgPKR | number : '1.2-2'}}</th>
                            <th class="column-title ">{{sumUSD?.avgUSD | currency:'USD':true}}</th>
                          </tr>
                        </thead>
                      </table>
                    </div>

                <div *ngIf="data?.length > 0" class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="asc">
                    <thead>
                        <tr class="headings">   
                        <th class="column-title ">#</th> 
                        <th class="column-title "> <span >
                            <input id="toggleall" value="{{toggle}}" [(ngModel)]="toggle" 
                            [checked]="allToggleState == 1" (change)="allToggle($event, data)" type="checkbox" name="toggle" />
                            <label for="toggleall"></label>
                            </span></th>
                        <th class="column-title ">Exclude</th>                   
                        <th class="column-title">
                            <mfDefaultSorter by="name">Name</mfDefaultSorter>
                        </th>
                        <th class="column-title ">
                            <mfDefaultSorter by="client.name">Client</mfDefaultSorter>
                        </th>
                        <th class="column-title ">
                            <mfDefaultSorter by="type.name">Employee Type</mfDefaultSorter>
                        </th>
                        <th class="column-title"><mfDefaultSorter by="location.name">Location</mfDefaultSorter></th>
                        <th class="column-title">
                            <mfDefaultSorter by="salary">PKR Salary</mfDefaultSorter>
                        </th> 
                        <th class="column-title">
                            <mfDefaultSorter by="salary">USD Salary</mfDefaultSorter>   
                        </th>                     
                        <th class="column-title">
                            <mfDefaultSorter by="rate">Rate</mfDefaultSorter> 
                        </th>
                        <th class="column-title ">
                            <mfDefaultSorter by="gross_">Gross</mfDefaultSorter>
                        </th>
                        <th class="column-title ">
                            <mfDefaultSorter by="net_">Net</mfDefaultSorter>
                        </th>
                        
                        </tr>
                    </thead>
                    
                    <tbody *ngIf="data?.length == 0">
                        <tr>
                            <td colspan="9" class="">
                                <b>No Record Found</b>
                            </td>
                        </tr>
                    </tbody>

                     
                    
                    <tbody *ngIf="data?.length > 0 && !loader">
                        <tr  *ngFor="let employee of mf.data; let i = index "  [ngClass]="{'alert-danger': employee.exclude == 1, 'alert-success':employee.toggle == 1}" >     
                          <td>{{i+1}}</td>                  
                        <td class="text-center">
                            <span *ngIf="employee.toggle == 1">
                            <input id="toggle{{employee.id}}" value="{{employee.toggle}}" [(ngModel)]="employee.toggle" checked (change)="updateToggle($event, employee)" type="checkbox" name="toggle" />
                            <label for="toggle{{employee.id}}"></label>
                            </span>
                            <span *ngIf="employee.toggle == 0">
                            <input id="toggle{{employee.id}}" value="{{employee.toggle}}" [(ngModel)]="employee.toggle"  (change)="updateToggle($event, employee)" type="checkbox" name="toggle" />
                            <label for="toggle{{employee.id}}"></label>
                            </span>
                        </td>
                        <td class="text-center">
                            <span *ngIf="employee.exclude == 1">
                            <input id="exclude{{employee.id}}" value="{{employee.exclude}}" [(ngModel)]="employee.exclude" checked (change)="updateExclude($event, employee)" type="checkbox" name="exclude" />
                            <label class="danger" for="exclude{{employee.id}}"></label>
                            </span>
                            <span *ngIf="employee.exclude == 0">
                            <input id="exclude{{employee.id}}" value="{{employee.exclude}}" [(ngModel)]="employee.exclude" (change)="updateExclude($event, employee)" type="checkbox" name="exclude" />
                            <label class="danger" for="exclude{{employee.id}}"></label>
                            </span>
                        </td>
                        <td><a  routerLink="/employee/{{employee.id}}/edit">{{employee.name}}</a></td> 
                        <td><span *ngIf="employee.client != null">{{employee.client.name}}</span></td>
                        <td><span *ngIf="employee.type != null">{{employee.type.name}}</span></td>
                        <td><span *ngIf="employee.location != null">{{employee.location.name}}</span></td>

                        <td *ngIf="employee.salary != 0 && employee.salary != null">    
                            <a (click)="setEditState(employee, true)">
                                <span [class.hidden]="employee.isEditMode">{{employee.salary}}</span>
                            </a>
                            <input class="form-control input-sm bottom-space hide-input-style" (keypress)="updateSalary($event, employee)"  style="width:50%;" type="text" [class.hidden]="!employee.isEditMode" [(ngModel)]="employee.salary" name="employee.salary" [value]="employee.salary" />
                        </td>
                        <td *ngIf="employee.gross != 0 && employee.gross != null">    
                           {{employee.gross * excahngeRate}}
                        </td>




                        <td *ngIf="employee.salary != 0 && employee.salary != null">
                            {{ employee.salary / excahngeRate | currency:'USD':true:'1.2-2'}}
                        </td>
                        <td *ngIf="employee.gross != 0 && employee.gross != null">
                           
                            <a (click)="setEditState(employee, true)">
                                <span [class.hidden]="employee.isEditMode">
                                     {{ employee.gross | currency:'USD':true:'1.2-2'}}
                                </span>
                            </a>
                            <input class="form-control input-sm bottom-space hide-input-style" (keypress)="updateUsSalary($event, employee)"  style="width:50%;" type="text" [class.hidden]="!employee.isEditMode" [(ngModel)]="employee.gross" name="employee.gross" [value]="employee.gross" />
                        </td>
                        <td>
                            <a (click)="rateEditState(employee, true)">
                                <span [class.hidden]="employee.rateEditMode"> ${{employee.rate}}</span>
                            </a>
                            <input class="form-control input-sm bottom-space hide-input-style" (keypress)="updateRate($event, employee)"  style="width:50%;" type="text" [class.hidden]="!employee.rateEditMode" [(ngModel)]="employee.rate" name="employee.rate" [value]="employee.rate" />
                           
                        </td>
                        <td>
                            {{ employee.gross_ | currency:'USD':true:'1.2-2' }}
                        </td>
                        
                        <td *ngIf="employee.rate > 0" class=" last">
                            {{ employee.net_ | currency:'USD':true:'1.2-2' }}
                        </td>
                        
                        <td *ngIf="employee.rate == 0 && employee.salary != 0 && employee.gross == 0" class=" last">
                            -{{ employee.salary / excahngeRate | currency:'USD':true:'1.2-2' }}
                        </td>

                        <td *ngIf="employee.rate == 0 && employee.salary == 0 && employee.gross != 0" class=" last">
                            -{{ employee.gross | currency:'USD':true:'1.2-2' }}
                        </td>
                        </tr>             
                    </tbody>
                    <thead *ngIf="data?.length > 0 && !loader">
                        <tr class="headings">                       
                        <th class="column-title">Total </th>
                        <th class="column-title "></th>
                        <th class="column-title "></th>
                        <th class="column-title "></th>
                        <th class="column-title "></th>
                        <th class="column-title "></th>
                        <th class="column-title "></th>
                        <th class="column-title "></th>
                        <th class="column-title"> {{sumSalary?.salary | currency:'USD':true}} </th>                     
                        <th class="column-title "></th>
                        <th class="column-title ">{{sumSalary?.gross | currency:'USD':true}}</th>
                        <th class="column-title ">{{sumSalary?.net | currency:'USD':true}}</th>
                        </tr>
                        <tr class="headings">                       
                        <th class="column-title">Average </th>
                        <th class="column-title "></th>
                        <th class="column-title "></th>
                        <th class="column-title "></th>
                        <th class="column-title "></th>
                        <th class="column-title "></th>
                        <th class="column-title "></th>
                        <th class="column-title "></th>
                        <th class="column-title"> {{sumSalary?.avgsalary | currency:'USD':true}} </th>                     
                        <th class="column-title "></th>
                        <th class="column-title ">{{sumSalary?.avggross | currency:'USD':true}}</th>
                        <th class="column-title ">{{sumSalary?.avgnet | currency:'USD':true}}</th>
                        
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="10" class="text-center">
                                <mfBootstrapPaginator ></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                    </table>
                </div>
                <div *ngIf="loader"  >
                        <div class="loader"></div>
                </div>
                <div *ngIf="data?.length <= 0 && !noFound && !overhead"  >
                    <div class="loader"></div>
                </div> 
                <div *ngIf="noFound" class="table-responsive">
                    <div class="text-center">No Record Found!</div>
                </div>     
                   
        </div>
     </div>
</div>