<setting></setting>
<div class="col-md-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Import Employees</h2>  
            <ul class="nav navbar-right panel_toolbox">
            <li><a class="btn btn-default btn-sm" routerLink="/export"><i class="fa fa-list"></i> Export</a></li>
            <li><a class="btn btn-default btn-sm" routerLink="/import"><i class="fa fa-plus"></i> Import</a></li>
            <li><a class="btn btn-default btn-sm" routerLink="/reset-employees"><i class="fa fa-wrench"></i> Reset Data</a></li>
        </ul> 
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="alert alert-success" *ngIf="isSaved">{{message.message}}</div>            
            <br>
            <input type="file" name="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
            <br>
            <button type="button" class="btn btn-success btn-s" (click)="upload()">
                 <span class="glyphicon glyphicon-upload"></span> Import
            </button>

            <!--<input type="file" ng2FileSelect [uploader]="uploader" />
            <button type="button" class="btn btn-success btn-s"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>-->
            
            <!--<form #f="ngForm" (ngSubmit)="onSubmit($event, f.value)" class="form-horizontal form-label-left input_mask">
                <br>
                <div class="alert alert-success" *ngIf="isSaved">Exchange rate edited successfully</div>
                <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Browse your computer</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input #msgFocous type="file" class="form-control" ngModel name="import">
                </div>
                </div>   
                                 
                <div class="form-group">
                <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2">
                    <button type="submit" class="btn btn-success">Import Employees</button>
                </div>
                </div>
            </form>-->
        </div>
     </div>
</div>