<setting></setting>
<div class="col-md-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Export Employees </h2>  
            <ul class="nav navbar-right panel_toolbox">
            <li><a class="btn btn-default btn-sm" routerLink="/export"><i class="fa fa-list"></i> Export</a></li>
            <li><a class="btn btn-default btn-sm" routerLink="/import"><i class="fa fa-plus"></i> Import</a></li>
            <li><a class="btn btn-default btn-sm" routerLink="/reset-employees"><i class="fa fa-wrench"></i> Reset Data</a></li>
        </ul> 
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
                <div class="alert alert-success" *ngIf="isSaved">{{message}}</div>            
                <div class="form-group">
                
                    <a target="_blank" href="https://psm.allshoreresources.com/api/v1/employee/export" class="btn btn-success">
                    <span class="glyphicon glyphicon-download"></span>
                    Export</a>
                    <!--<button type="submit" class="btn btn-success">Export Employees</button>-->
                
                </div>
        </div>
     </div>
</div>