<setting></setting>
<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Clients </h2>  
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="btn btn-default btn-sm" routerLink="/client"><i class="fa fa-list"></i> All</a></li>
                      <li><a class="btn btn-default btn-sm" routerLink="/client/add"><i class="fa fa-plus"></i> Add</a></li>
                  </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div *ngIf="data?.length > 0" class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="asc">
                        <thead>
                          <tr class="headings">                       
                            <th  class="column-title"><mfDefaultSorter by="name">Name</mfDefaultSorter></th>                   
                            <th class="column-title no-link text-right last"><span class="nobr">Action</span>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let client of mf.data; let i = index" class="">   
                            <!--<td *ngIf=" i == 0 " style="width: 45%;" >
                            <span [class.hidden]="!client.isEditMode"><a (click)="setEditState(client, true, i)">{{client.name}}</a></span>
                            <input class="form-control bottom-space hide-input-style" (keypress)="update($event, client, false, 1000)" type="text" [class.hidden]="client.isEditMode" [(ngModel)]="client.name" name="client.name" [value]="client.name" />
                            <input type="button" [class.hidden]="!client.isEditMode" (click)="update(client)" value="Update" class="btn btn-success btn-group-sm" />
                            <input type="button" [class.hidden]="!client.isEditMode" (click)="setEditState(client, false)" value="Cancel" class="btn btn-warning btn-group-sm" />
                            </td>-->                    
                            <td style="width: 45%;" >
                            <span [class.hidden]="client.isEditMode"><a (click)="setEditState(client, true, i)">{{client.name}}</a></span>
                            <input class="form-control bottom-space hide-input-style" (keypress)="update($event, client, true, i)" type="text" [class.hidden]="!client.isEditMode" [(ngModel)]="client.name" name="client.name" [value]="client.name" />
                            <!--<input type="button" [class.hidden]="!client.isEditMode" (click)="update(client)" value="Update" class="btn btn-success btn-group-sm" />
                            <input type="button" [class.hidden]="!client.isEditMode" (click)="setEditState(client, false)" value="Cancel" class="btn btn-warning btn-group-sm" />-->
                            </td>
                            <td class=" text-right last">
                                <!--<button style="border: none; background: transparent;" (click)="setEditState(client, true)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>-->
                                <button style="border: none; background: transparent;" (click)="delete(client.id)"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </td>
                          </tr>             
                        </tbody>
                      </table>
                    </div>
                    <div *ngIf="data?.length <= 0"  >
                      <div class="loader"></div>
                    </div>
						
                  </div>
                </div>
              </div>