<div class="left-col" style="height:770px !important;">
                <div class="navbar nav_title" >
                    <span  class="site_title"><a style="color: white;" routerLink="/">  Allshore P&L</a></span>
                </div>
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <!--<div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li class=""><a (click)="loc_display = !loc_display;"><i class="fa fa-home"></i> Locations <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu" [style.display]="setStyle('loc')">
                                    <li><a routerLink="/location">All Locations</a></li>
                                    <li><a routerLink="/location/add">Add Location</a></li>
                                </ul>
                            </li>
                            <li class=""><a (click)="dep_display = !dep_display;" ><i class="fa fa-edit"></i> Departments <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu" [style.display]="setStyle('dep')">
                                    <li><a routerLink="/department">All Departments</a></li>
                                    <li><a routerLink="/department/add">Add Department</a></li>
                                </ul>
                            </li>
                            <li class=""><a (click)="emp_display = !emp_display;"><i class="fa fa-desktop"></i> Employee <span class="fa fa-chevron-down"></span></a>
                                 <ul class="nav child_menu" [style.display]="setStyle('emp')">
                                    <li><a routerLink="/employee">All Employees</a></li>
                                    <li><a routerLink="/employee/add">Add Employee</a></li>
                                </ul>
                            </li>
                            <li><a (click)="clt_display = !clt_display;"><i class="fa fa-table"></i> Clients <span class="fa fa-chevron-down"></span></a>
                                 <ul class="nav child_menu" [style.display]="setStyle('clt')">
                                    <li><a routerLink="/client">All Clients</a></li>
                                    <li><a routerLink="/client/add">Add Client</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>-->
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a routerLink="/dashboard"><i class="fa fa-table"></i> Dashboard </a></li>
                            <li><a routerLink="/reports"><i class="fa fa-user"></i> Employees </a></li>
                            <li><a routerLink="/overheadreport"><i class="fa fa-google-wallet"></i> Overheads </a></li>
                            <li><a routerLink="/setting"><i class="fa fa-wrench"></i> Settings </a></li>
                        </ul>
                    </div>
                    <!--<div class="menu_section">
                        <h3>Settings</h3>
                        <ul class="nav side-menu">
                            <li><a routerLink="/currency-api"><i class="fa fa-bug"></i> Currency API </a></li>
                            <li><a routerLink="/total-hours"><i class="fa fa-windows"></i> Total Hours </a></li>
                        </ul>
                    </div>-->

                    <!--<div class="menu_section">
                        <h3>Users</h3>
                        <ul class="nav side-menu">
                            <li><a routerLink="/user"><i class="fa fa-user-o" aria-hidden="true"></i> User </a></li>
                        </ul>
                    </div>-->

                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>

                </div>
            </div>