 <div class="dashboard_graph">

                                    <div class="row x_title">
                                        <div class="col-md-12">
                                            <h3>Departments Earning</h3>
                                        </div>

                                    </div>

                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <div id="chart_plot_01" class="demo-placeholder" style="padding: 0px; position: relative;">
                                            <div id="chartContainer" style="height: 400px; width: 100%;"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                                        <div class="x_title">
                                            <h2>Top Department Performance</h2>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-6">
                                            <div>
                                                <p>.NET</p>
                                                <div class="">
                                                    <div class="progress progress_sm" style="width: 90%;">
                                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80" aria-valuenow="79" style="width: 80%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <p>PHP</p>
                                                <div class="">
                                                    <div class="progress progress_sm" style="width: 85%;">
                                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60" aria-valuenow="59" style="width: 60%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-6">
                                            <div>
                                                <p>Mobile</p>
                                                <div class="">
                                                    <div class="progress progress_sm" style="width: 70%;">
                                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40" aria-valuenow="39" style="width: 40%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <p>IT Support</p>
                                                <div class="">
                                                    <div class="progress progress_sm" style="width: 65%;">
                                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50" aria-valuenow="49" style="width: 50%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <p>Front End</p>
                                                <div class="">
                                                    <div class="progress progress_sm" style="width: 55%;">
                                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50" aria-valuenow="49" style="width: 50%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <p>Quality Assurance</p>
                                                <div class="">
                                                    <div class="progress progress_sm" style="width: 45%;">
                                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50" aria-valuenow="49" style="width: 50%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <p>Sales Force</p>
                                                <div class="">
                                                    <div class="progress progress_sm" style="width: 40%;">
                                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50" aria-valuenow="49" style="width: 50%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <p>BI</p>
                                                <div class="">
                                                    <div class="progress progress_sm" style="width: 35%;">
                                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50" aria-valuenow="49" style="width: 50%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <p>Dynamics</p>
                                                <div class="">
                                                    <div class="progress progress_sm" style="width: 30%;">
                                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50" aria-valuenow="49" style="width: 50%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="clearfix"></div>
                                    <br><br><br><br>
                                    <div class="row">

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="x_panel tile fixed_height_320 overflow_hidden">
                                                <div class="x_title">
                                                    <h2>Device Usage</h2>
                                                    <ul class="nav navbar-right panel_toolbox">
                                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li><a href="#">Settings 1</a>
                                                                </li>
                                                                <li><a href="#">Settings 2</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <table class="" style="width:100%">
                                                        <tbody><tr>
                                                            <th style="width:37%;">
                                                                <p>Top 5</p>
                                                            </th>
                                                            <th>
                                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                                    <p class="">Device</p>
                                                                </div>
                                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                                    <p class="">Progress</p>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div id="chartContainer1" style="height: 300px; width: 100%;">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <table class="tile_info">
                                                                    <tbody><tr>
                                                                        <td>
                                                                            <p><i class="fa fa-square blue"></i>.NET </p>
                                                                        </td>
                                                                        <td>30%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <p><i class="fa fa-square green"></i>PHP </p>
                                                                        </td>
                                                                        <td>10%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <p><i class="fa fa-square purple"></i>IT Support </p>
                                                                        </td>
                                                                        <td>20%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <p><i class="fa fa-square aero"></i>Mobile </p>
                                                                        </td>
                                                                        <td>15%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <p><i class="fa fa-square red"></i>Front End </p>
                                                                        </td>
                                                                        <td>30%</td>
                                                                    </tr>
                                                                    </tbody></table>
                                                            </td>
                                                        </tr>
                                                        </tbody></table>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="x_panel tile fixed_height_320">
                                                <div class="x_title">
                                                    <h2>Quick Settings</h2>

                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <div class="dashboard-widget-content">
                                                        <ul class="quick-list">
                                                            <li><i class="fa fa-calendar-o"></i><a href="#">Settings</a>
                                                            </li>
                                                            <li><i class="fa fa-bars"></i><a href="#">Users</a>
                                                            </li>
                                                            <li><i class="fa fa-bar-chart"></i><a href="#">Reports</a> </li>
                                                            <li><i class="fa fa-line-chart"></i><a href="#">Achievements</a>
                                                            </li>
                                                            <li><i class="fa fa-bar-chart"></i><a href="#">Locations</a> </li>
                                                            <li><i class="fa fa-line-chart"></i><a href="#">Departments</a>
                                                            </li>
                                                            <li><i class="fa fa-area-chart"></i><a href="#">Logout</a>
                                                            </li>
                                                        </ul>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>