<setting></setting>
<div class="col-md-12 col-xs-12 no-padding">
    <div class="x_panel">
        <div class="x_title">
            <h2>Edit Type </h2>  
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="btn btn-default btn-sm" routerLink="/type"><i class="fa fa-list"></i> All</a></li>
                <li><a class="btn btn-default btn-sm" routerLink="/type/add"><i class="fa fa-plus"></i> Add</a></li>
            </ul>    
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form class="form-horizontal form-label-left" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <br>
            <div class="alert alert-success" *ngIf="isSaved">Employee type edited successfully</div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input #msgFocous type="text" class="form-control bottom-space" [value]="type.name" name="name" [(ngModel)]="type.name" required>
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Position</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="hidden" class="form-control bottom-space" [value]="type.position" name="position" [(ngModel)]="type.position">
                    </div>
                </div>
               
                
                
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Type</label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" name="empType" ngModel>
                            <option value="">Choose Type</option>
                            <option 
                            [value]="1"
                            [selected]="type.type == 1"
                            >Income Producing</option>
                            <option 
                            [value]="2"
                            [selected]="type.type == 2"
                            >Support Staff</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group" style="display: none;">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Location</label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" name="location" ngModel>
                            <option 
                            *ngFor="let location of locations" 
                            [value]="location.id"
                            [selected]="location.id == type?.location_id ? true : null"
                            >
                            {{location.name}}
                            </option>
                          </select>
                    </div>
                </div>
                  
                <div class="form-group">
                <div class="col-md-11 col-sm-11 col-xs-12 col-md-offset-2">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
                </div>
            </form>
        </div>
     </div>
</div>