<setting></setting>
<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Employee Type </h2>  
                    <ul class="nav navbar-right panel_toolbox">
                <li><a class="btn btn-default btn-sm" routerLink="/type"><i class="fa fa-list"></i> All</a></li>
                <li><a class="btn btn-default btn-sm" routerLink="/type/add"><i class="fa fa-plus"></i> Add</a></li>
            </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div *ngIf="data?.length > 0" class="table-responsive">
                     <table class="table table-striped jambo_table bulk_action" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="asc">
                        <thead>
                          <tr class="headings">                       
                            <th  class="column-title"><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
                            <th class="column-title"><mfDefaultSorter by="type">Type</mfDefaultSorter> </th>                     
                            <th class="column-title no-link last"><span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let type of mf.data" class="">                       
                            <td style="width: 45%;" >
                            <span><a  routerLink="/type/{{type.id}}/edit">{{type.name}}</a></span>
                            </td>
                            <td class=" ">
                              <span *ngIf="type.type == 1">
                              Income Producing
                              </span>
                              <span *ngIf="type.type == 2">
                              Support Staff
                              </span>
                            </td>
                            <td class=" last">
                                <a  routerLink="/type/{{type.id}}/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <button style="border: none; background: transparent;" (click)="delete(type.id)"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </td>
                          </tr>             
                        </tbody>
                      </table>
                    </div>
                    
                    <div *ngIf="data?.length <= 0"  >
                      <div class="loader"></div>
                    </div>
						
                  </div>
                </div>
              </div>