<setting></setting>
<div class="col-md-12 col-xs-12 no-padding">
    <div class="x_panel">
        <div class="x_title">
            <h2>Add New Department </h2>    
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="btn btn-default btn-sm" routerLink="/department"><i class="fa fa-list"></i> All</a></li>
                <li><a class="btn btn-default btn-sm" routerLink="/department/add"><i class="fa fa-plus"></i> Add</a></li>
            </ul>  
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
                <div class="alert alert-success" *ngIf="isSaved">Department added successfully</div>
                <div class="form-group">
                <label class="control-label col-md-1 col-sm-1 col-xs-12">Name</label>
                <div class="col-md-11 col-sm-11 col-xs-12">
                    <input type="text" class="form-control bottom-space" placeholder="Department Name" #departmentName>
                </div>
                </div>  <br>                    
                <div class="form-group">
                <div class="col-md-11 col-sm-11 col-xs-12 col-md-offset-1">
                    <button (click)="add($event, departmentName)" class="btn btn-success">Submit</button>
                </div>
                </div>
             <div *ngIf="loader"  >
                    <div class="loader"></div>
            </div>
        </div>
     </div>
</div>
