<setting></setting>
<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Departments </h2>  
                    <ul class="nav navbar-right panel_toolbox">
                <li><a class="btn btn-default btn-sm" routerLink="/department"><i class="fa fa-list"></i> All</a></li>
                <li><a class="btn btn-default btn-sm" routerLink="/department/add"><i class="fa fa-plus"></i> Add</a></li>
            </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">                       
                            <th  class="column-title">Name</th>                    
                            <th class="column-title no-link text-right last"><span class="nobr">Action</span>
                            </th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let department of departments.data | orderBy : ['name']" class="">                       
                            <td style="width: 45%;" >
                            <span [class.hidden]="department.isEditMode"><a (click)="setEditState(department, true)">{{department.name}}</a></span>
                            <input class="form-control bottom-space" type="text" [class.hidden]="!department.isEditMode" [(ngModel)]="department.name" name="department.name" [value]="department.name" />
                            <input type="button" [class.hidden]="!department.isEditMode" (click)="update(department)" value="Update" class="btn btn-success btn-group-sm" />
                            <input type="button" [class.hidden]="!department.isEditMode" (click)="setEditState(department, false)" value="Cancel" class="btn btn-warning btn-group-sm" />
                            </td>
                            <td class=" text-right last">
                                <button style="border: none; background: transparent;" (click)="setEditState(department, true)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button style="border: none; background: transparent;" (click)="delete(department.id)"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </td>
                          </tr>             
                        </tbody>
                      </table>
                    </div>
							
						
                  </div>
                </div>
              </div>