<setting></setting>
<div class="col-md-12 col-xs-12 no-padding">
    <div class="x_panel">
        <div class="x_title">
            <h2>Edit Employee </h2>  
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="btn btn-default btn-sm" routerLink="/employee"><i class="fa fa-list"></i> All</a></li>
                <li><a class="btn btn-default btn-sm" routerLink="/employee/add"><i class="fa fa-plus"></i> Add</a></li>
            </ul>    
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form class="form-horizontal form-label-left" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <br>
            <div class="alert alert-success" *ngIf="isSaved">Employee edited successfully</div>
            <div class="alert alert-success" *ngIf="isDeleted">Employee deleted successfully</div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input #msgFocous type="text" class="form-control bottom-space" value="{{employee?.name}}" name="name" [(ngModel)]="employee.name" required>
                        <input type="hidden" class="form-control bottom-space" value="{{employee?.id}}" name="id" [(ngModel)]="employee.id">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">PKR Salary</label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <input [disabled]="showUsSalary" type="text" class="form-control bottom-space" value="{{employee?.salary}}" name="salary" [(ngModel)]="employee.salary" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">USD Salary</label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                         <input *ngIf="!showUsSalary" style="font-weight: bold" type="text" class="form-control bottom-space" disabled value="{{ employee?.salary / exchangeRate | currency:'USD':true:'1.2-2' }}" name="usdsalary_" ngModel>
                         <input *ngIf="showUsSalary" style="font-weight: bold" type="text" class="form-control bottom-space" value="{{ employee?.gross }}" name="usdsalary" [(ngModel)]="employee.gross">
                         <label>
                            <input style="position: inherit; left: 0 !important;" type="checkbox" class="checkbox-spacing" [checked]="showUsSalary === true" (click)="toggleSalary($event, expenseType)" #expenseType name="expenseType" >
                            USD Salary
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Hourly Rate</label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                         <input type="text" class="form-control bottom-space" value="{{employee?.rate}}" name="rate" [(ngModel)]="employee.rate">
                    </div>
                </div>
                
                <div *ngIf="showDefaultType" class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" style="font-size: 16px;">Gross</label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <input style="font-weight: bold" type="text" class="form-control bottom-space" disabled value="{{ employee?.rate * totalHours | currency:'USD':true:'1.2-2' }}" placeholder="{{ employee?.rate * totalHours | currency:'USD':true:'1.2-2' }}" name="gross" ngModel>
                     </div>
                     
                </div>
                <div *ngIf="showCustomType" class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" style="font-size: 16px;">Gross</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input style="font-weight: bold" type="text" class="form-control bottom-space" disabled value="{{ employee?.rate * employee?.hours_worked | currency:'USD':true:'1.2-2' }}" placeholder="{{ employee?.rate * employee?.hours_worked | currency:'USD':true:'1.2-2' }}" name="gross" ngModel>
                    </div>
                </div>
                <div *ngIf="showDefaultType" class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" style="font-size: 16px;">Net</label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <input style="font-weight: bold" type="text" class="form-control bottom-space" disabled value="{{ employee?.rate * totalHours - employee?.salary / exchangeRate | currency:'USD':true:'1.2-2' }}" name="net" placeholder="{{ employee?.rate * totalHours - employee?.salary / exchangeRate | currency:'USD':true:'1.2-2' }}" ngModel>
                    </div>
                    
                </div>
                <div *ngIf="showCustomType" class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" style="font-size: 16px;">Net</label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <input style="font-weight: bold" type="text" class="form-control bottom-space" disabled value="{{ employee?.rate * employee?.hours_worked - employee?.salary / exchangeRate | currency:'USD':true:'1.2-2' }}" placeholder="{{ employee?.rate * employee?.hours_worked - employee?.salary / exchangeRate | currency:'USD':true:'1.2-2' }}" name="net" ngModel>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Employee Type</label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" name="empType" [(ngModel)]="employee.type_id">
                           <option 
                            *ngFor="let type of types | orderBy : ['name']" 
                            [ngValue]="type.id"
                            >
                            {{type.name}}
                            </option>
                          </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Client</label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" name="client" [(ngModel)]="employee.client_id">
                            
                            <option 
                            *ngFor="let client of clients | orderBy : ['name']" 
                            [ngValue]="client.id"
                            >
                            {{client.name}}
                            </option>
                          </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Location</label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" name="location" [(ngModel)]="employee.location_id">
                            <option 
                            *ngFor="let location of locations | orderBy : ['name']" 
                            [ngValue]="location.id"
                            >
                            {{location.name}}
                            </option>
                          </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Total Hours</label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <label>
                        <input type="radio" class="" [checked]="showDefaultType === true" (click)="toggle($event, hoursTypeDefault)" value="1" #hoursTypeDefault name="hoursType" > Default Hours
                        </label>
                        <label>
                        <input type="radio" class="" [checked]="showCustomType === true" (click)="toggle($event, hoursTypeCustom)" value="0" #hoursTypeCustom name="hoursType" >  Custom Hours
                        </label>
                        <div *ngIf="showDefaultType">
                        <input  type="text" class="form-control bottom-space" placeholder="{{totalHours}}" value="{{totalHours}}" name="totalHoursDefault" disabled ngModel> 
                        </div>
                        <div *ngIf="showCustomType">
                        <input  type="text" class="form-control bottom-space" placeholder="{{employee.hours_worked}}" value="{{employee.hours_worked}}" name="totalHours" [(ngModel)]="employee.hours_worked">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Notes</label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control bottom-space" value="{{employee?.notes}}" name="notes" [(ngModel)]="employee.notes">
                    </div>
                </div>
                <div class="form-group">
                <div class="col-md-11 col-sm-11 col-xs-12 col-md-offset-2">
                    <button type="submit" class="btn btn-success">Submit</button>
                     <button (click)="delete(employee.id)" type="button" class="btn btn-danger">Delete</button>
                </div>
                </div>
                <div *ngIf="loader"  >
                    <div class="loader"></div>
                </div>
            </form>
        </div>
     </div>
</div>