<setting></setting>
<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Employees </h2>  
                    <ul class="nav navbar-right panel_toolbox">
                <li><a class="btn btn-default btn-sm" routerLink="/employee"><i class="fa fa-list"></i> All</a></li>
                <li><a class="btn btn-default btn-sm" routerLink="/employee/add"><i class="fa fa-plus"></i> Add</a></li>
            </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="alert alert-success" *ngIf="isSaved">Employee deleted successfully</div>
                    <div *ngIf="data?.length > 0" class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="asc">
                        <thead>
                          <tr class="headings">                       
                            <th  class="column-title"><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
                            
                            <th class="column-title"><mfDefaultSorter by="client.name">Client</mfDefaultSorter> </th>                     
                            <th class="column-title"><mfDefaultSorter by="type.name">Type</mfDefaultSorter> </th>
                            <th class="column-title"><mfDefaultSorter by="location.name">Location</mfDefaultSorter> </th>
                            <th class="column-title"><mfDefaultSorter by="salary">PKR Salary</mfDefaultSorter></th>
                            <th class="column-title"><mfDefaultSorter by="salary">USD Salary</mfDefaultSorter></th>
                            <th class="column-title no-link last"><span class="nobr">Action</span>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let employee of mf.data; let i = index" class="">                       
                            <td>
                            <span><a  routerLink="/employee/{{employee.id}}/edit">{{employee.name}}</a></span>
                            </td>
                            <td class=" "><span *ngIf="employee.client != null">{{employee.client.name}}</span></td>
                            <td class=" "><span *ngIf="employee.type != null">{{employee.type.name}}</span></td>
                            <td class=" "><span *ngIf="employee.location != null">{{employee.location.name}}</span></td>
                            <td *ngIf="employee.salary != 0" >    
                              <span [class.hidden]="employee.isEditMode">
                                <a (click)="setEditState(employee, true, i)">
                                {{employee.salary}}
                                </a>
                                </span>
                              <input class="form-control input-sm bottom-space hide-input-style" (keypress)="updateSalary($event, employee, true, i)"  style="width:50%;" type="text" [class.hidden]="!employee.isEditMode" [(ngModel)]="employee.salary" name="employee.salary" [value]="employee.salary" />
                            </td>

                            <td *ngIf="employee.gross != 0" >    
                              
                                {{employee.gross * excahngeRate}}
                                
                            </td>
                            
                            <td *ngIf="employee.salary != 0" class=" ">{{employee.salary / excahngeRate | currency:'USD':true:'1.2-2'}}</td>
                            <td *ngIf="employee.gross != 0" class=" ">

                              <span [class.hidden]="employee.isEditMode">
                                <a (click)="setEditState(employee, true, i)">
                                {{employee.gross | currency:'USD':true:'1.2-2'}}
                                </a>
                                </span>
                              <input class="form-control input-sm bottom-space hide-input-style" (keypress)="updateUsSalary($event, employee, true, i)"  style="width:50%;" type="text" [class.hidden]="!employee.isEditMode" [(ngModel)]="employee.gross" name="employee.gross" [value]="employee.gross" />
                            </td>
                            <td class=" last">
                                <a  routerLink="/employee/{{employee.id}}/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <button style="border: none; background: transparent;" (click)="delete(employee.id)"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </td>
                          </tr>             
                        </tbody>
                      </table>
                    </div>
                    <div *ngIf="data?.length <= 0"  >
                      <div class="loader"></div>
                    </div>
                  </div>
                </div>
              </div>