<div class="container-fluid nopadding">
        <div class="col-md-2 nopadding">
            <sidebar></sidebar>
        </div>
        <div class="col-md-10">
            <header></header>

            <section id="main">
               <router-outlet></router-outlet>
            </section>
        </div>
    </div>