<setting></setting>
<div class="col-md-12 col-xs-12 no-padding">
    <div class="x_panel">
        <div class="x_title">
            <h2>Edit Overhead </h2>  
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="btn btn-default btn-sm" routerLink="/overhead"><i class="fa fa-list"></i> All</a></li>
                <li><a class="btn btn-default btn-sm" routerLink="/overhead/add"><i class="fa fa-plus"></i> Add</a></li>
            </ul>    
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form class="form-horizontal form-label-left" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <br>
            <div class="alert alert-success" *ngIf="isSaved">Overhead edited successfully</div>
            <div class="alert alert-success" *ngIf="isDeleted">Overhead deleted successfully</div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Expense Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input #msgFocous type="text" class="form-control bottom-space" placeholder="Expense Name" value="{{overhead.name}}" name="name"  [(ngModel)]="overhead.name" required>
                         <input type="hidden" class="form-control bottom-space" value="{{overhead?.id}}" name="id" [(ngModel)]="overhead.id">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">PKR Cost</label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <input [disabled]="!showCustomType" type="text" class="form-control bottom-space" placeholder="PKR Cost" value="{{overhead.cost}}" name="cost" [(ngModel)]="overhead.cost" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">USD Cost</label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                         <input  *ngIf="showCustomType" type="text" class="form-control bottom-space" value="{{ overhead?.cost / exchangeRate | currency:'USD':true:'1.2-2' }}"  placeholder="{{ overhead?.cost / exchangeRate | currency:'USD':true:'1.2-2' }}" disabled name="usdsalary_" [(ngModel)]="usdsalary_" >
                         <input *ngIf="!showCustomType" type="text"  placeholder="USD Cost"  class="form-control bottom-space"  value="{{ overhead?.usd_cost }}" name="usd_cost" [(ngModel)]="overhead.usd_cost" >
                         <label>
                        <input style="position: inherit; left: 0 !important;" type="checkbox" class="checkbox-spacing" [checked]="showDefaultType === true" (click)="toggle($event, expenseType)" #expenseType name="expenseType" >USD Expense
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Location</label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" name="location" [(ngModel)]="overhead.location_id">
                            <option 
                            *ngFor="let location of locations" 
                            [ngValue]="location.id"
                            >
                            {{location.name}}
                            </option>
                          </select>
                    </div>
                </div>             
                <div class="form-group">
                    <div class="col-md-11 col-sm-11 col-xs-12 col-md-offset-2">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button (click)="delete(overhead.id)" type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
                <div *ngIf="loader"  >
                    <div class="loader"></div>
                </div> 
            </form>
        </div>
     </div>
</div>