<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Overheads </h2>  
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                   <div class="form-group">
                      <form class="form-horizontal form-label-left" #f="ngForm" (ngSubmit)="f.reset()">
                          <div class="col-md-3 col-sm-3 col-xs-12">
                              <label >Location</label>
                              <select class="select2_group form-control" name="location" (change)="onSubmit($event)"  >
                                  <option value="">Select Location</option>
                                  <option *ngFor="let location of locations | orderBy : ['name']" value="{{location.id}}">{{location.name}}</option>
                              </select>
                          </div>
                           <div class="col-md-1 col-sm-1 col-xs-12">
                              <button style="margin-top: 1.7em;" type="reset" (click)="onSubmit($event)" class="btn btn-default"><i class="fa fa-repeat"></i> Reset</button>
                          </div>
                      </form>
                    </div>  
                    <hr />
                    <div *ngIf="data?.length > 0" class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="asc">
                        <thead>
                          <tr class="headings">   
                            <th  class="column-title">#</th>                    
                            <th  class="column-title">
                              <mfDefaultSorter by="name">Expense Name</mfDefaultSorter>
                            </th>
                            <th  class="column-title">
                              <mfDefaultSorter by="location.name">Location</mfDefaultSorter>
                            </th>
                            <th  class="column-title">
                              <mfDefaultSorter by="cost">Total Expense PKR</mfDefaultSorter>
                              </th>
                            <th  class="column-title">
                              <mfDefaultSorter by="cost">Total Expense USD</mfDefaultSorter>
                            </th>                    
                            
                            
                          </tr>
                        </thead>
                        <tbody>
                          {{overheads}}
                          <tr *ngFor="let overhead of mf.data; let i = index" class="">                       
                            <td>{{i+1}}</td>
                            <td>
                            <span><a  routerLink="/overhead/{{overhead.id}}/edit">{{overhead.name}}</a></span>
                            </td>
                            <td>{{overhead.location?.name}}</td>
                            <td *ngIf="overhead.cost != null && overhead.cost != 0">
                              <span [class.hidden]="overhead.isEditMode"><a (click)="setEditState(overhead, true)">{{overhead.cost}}</a></span>
                              <input class="form-control bottom-space hide-input-style" (keypress)="update($event, overhead)" type="text" [class.hidden]="!overhead.isEditMode" [(ngModel)]="overhead.cost" name="overhead.cost" [value]="overhead.cost" />
                            </td>
                            <td  *ngIf="overhead.usd_cost != null && overhead.usd_cost != 0">
                              {{overhead.usd_cost * excahngeRate}}
                            </td>
                            <td *ngIf="overhead.cost != null && overhead.cost != 0" class=" last">
                              {{overhead?.cost / excahngeRate | currency:'USD':true:'1.2-2'}}
                            </td>
                            <td *ngIf="overhead.usd_cost != null && overhead.usd_cost != 0" class=" last">
                              
                              <span [class.hidden]="overhead.isEditMode"><a (click)="setEditState(overhead, true)">
                                {{overhead?.usd_cost  | currency:'USD':true:'1.2-2'}}</a></span>
                              <input class="form-control bottom-space hide-input-style" (keypress)="updateUsExpense($event, overhead)" type="text" [class.hidden]="!overhead.isEditMode" [(ngModel)]="overhead.usd_cost" name="usd_cost" [value]="overhead.usd_cost" />
                            </td>
                          </tr>             
                        </tbody>
                        <thead>
                          <tr class="headings">                       
                            <th class="column-title">Total </th> 
                            <th class="column-title"></th>   
                            <th class="column-title"></th>                   
                            <th class="column-title ">PKR {{sumPKR?.expPKR | number : '1.2-2'  }}</th>
                            <th class="column-title ">{{sumUSD?.expUSD | currency:'USD':true}}</th>
                          </tr>
                          <tr class="headings">                       
                            <th class="column-title">Average </th>
                            <th class="column-title"></th>  
                            <th class="column-title"></th>                    
                            <th class="column-title ">PKR {{sumPKR?.avgPKR | number : '1.2-2'}}</th>
                            <th class="column-title ">{{sumUSD?.avgUSD | currency:'USD':true}}</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                    <div *ngIf="data?.length <= 0 && !noFound"  >
                        <div class="loader"></div>
                    </div> 
                    <div *ngIf="noFound" class="table-responsive">
                        <div class="text-center">No Record Found!</div>
                    </div> 
						
                  </div>
                </div>
              </div>