<setting></setting>
<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Overheads </h2>  
                    <ul class="nav navbar-right panel_toolbox">
                <li><a class="btn btn-default btn-sm" routerLink="/overhead"><i class="fa fa-list"></i> All</a></li>
                <li><a class="btn btn-default btn-sm" routerLink="/overhead/add"><i class="fa fa-plus"></i> Add</a></li>
            </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div *ngIf="data?.length > 0" class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="asc">
                        <thead>
                          <tr class="headings">                       
                            <th  class="column-title">
                              <mfDefaultSorter by="name">Expense Name</mfDefaultSorter>
                            </th>
                            <th  class="column-title">
                              <mfDefaultSorter by="location.name">Location</mfDefaultSorter>
                            </th>
                            <th  class="column-title">
                              <mfDefaultSorter by="cost">Total Expense PKR</mfDefaultSorter>
                              </th>
                            <th  class="column-title">
                              <mfDefaultSorter by="cost">Total Expense USD</mfDefaultSorter>
                            </th>                    
                            <th class="column-title no-link last"><span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {{overheads}}
                          <tr *ngFor="let overhead of mf.data; let i = index" class="">                       
                            <td>
                            <span><a  routerLink="/overhead/{{overhead.id}}/edit">{{overhead.name}}</a></span>
                            </td>
                            <td>{{overhead.location?.name}}</td>
                             
                            <td *ngIf="overhead.cost != null && overhead.cost != 0">
                              <span [class.hidden]="overhead.isEditMode">
                                <a (click)="setEditState(overhead, true, i)">
                                  {{overhead?.cost}}
                                  </a>
                              </span>
                              <input class="form-control bottom-space hide-input-style" (keypress)="update($event, overhead, true, i)" type="text" [class.hidden]="!overhead.isEditMode" [(ngModel)]="overhead.cost" name="overhead.cost" [value]="overhead.cost" />
                            </td>

                            <td *ngIf="overhead.usd_cost != null && overhead.usd_cost != 0">                          
                                  {{overhead?.usd_cost * excahngeRate}}                               
                            </td>

                            <td *ngIf="overhead.cost != null && overhead.cost != 0">
                              {{overhead?.cost / excahngeRate | currency:'USD':true:'1.2-2'}}
                            </td>

                            <td *ngIf="overhead.usd_cost != null && overhead.usd_cost != 0">
                              <span [class.hidden]="overhead.isEditMode">
                                <a (click)="setEditState(overhead, true, i)">
                                  {{overhead?.usd_cost | currency:'USD':true:'1.2-2'}}
                                  </a>
                              </span>
                              <input class="form-control bottom-space hide-input-style" (keypress)="updateUsExpense($event, overhead, true, i)" type="text" [class.hidden]="!overhead.isEditMode" [(ngModel)]="overhead.usd_cost" name="usd_cost" [value]="overhead.usd_cost" />
                            </td>

                            <td class=" last">
                                <a  routerLink="/overhead/{{overhead.id}}/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <button style="border: none; background: transparent;" (click)="delete(overhead.id)"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </td>
                          </tr>             
                        </tbody>
                      </table>
                    </div>
                    <div *ngIf="data?.length <= 0"  >
                      <div class="loader"></div>
                    </div>
						
                  </div>
                </div>
              </div>