<div class="col-md-12 col-xs-12 no-padding">
    <div class="x_panel">
        <div class="x_title">
            <h2>Settings </h2>      
            <div class="clearfix"></div>
        </div>
        <div class="x_content">               
            <div class="row">
                <a routerLink="/location" class="btn btn-default"><i class="fa fa-home"></i> Locations</a>
                <!--<a routerLink="/department" class="btn btn-default"><i class="fa fa-building"></i> Departments</a>-->
                <a routerLink="/employee" class="btn btn-default"><i class="fa fa-male"></i> Employees</a>
                <a routerLink="/client" class="btn btn-default"><i class="fa fa-table"></i> Clients</a>
                <a routerLink="/overhead" class="btn btn-default"><i class="fa fa-table"></i> Overheads</a>
                <a routerLink="/type" class="btn btn-default"><i class="fa fa-asterisk"></i> Employee Type</a>
                <a routerLink="/total-hours" class="btn btn-default"><i class="fa fa-clock-o"></i> Total Hours</a>
                <a routerLink="/exchange-rate" class="btn btn-default"><i class="fa fa-money"></i> Exchange Rate</a>
                <a routerLink="/export" class="btn btn-default"><i class="fa fa-wrench"></i> Export / Import</a>
            </div> 
        </div>
        </div>
</div>