<div class="col-md-12 col-xs-12 no-padding">
    <div class="x_panel">
        <div class="x_title">
            <h2>Add New Location </h2>      
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            <div class="alert alert-success" *ngIf="isSaved">Location added successfully</div>
                <div class="form-group">
                <label class="control-label col-md-1 col-sm-1 col-xs-12">Username</label>
                <div class="col-md-11 col-sm-11 col-xs-12">
                    <input type="text" class="form-control bottom-space" disabled placeholder="allshore" >
                </div>
                </div>

                 <div class="form-group">
                <label class="control-label col-md-1 col-sm-1 col-xs-12">Email</label>
                <div class="col-md-11 col-sm-11 col-xs-12">
                    <input type="text" class="form-control bottom-space" disabled placeholder="allshoreadmin@aol.com" >
                </div>
                </div>

                 <div class="form-group">
                <label class="control-label col-md-1 col-sm-1 col-xs-12">Password</label>
                <div class="col-md-11 col-sm-11 col-xs-12">
                    <input type="password" class="form-control bottom-space" value="" >
                </div>
                </div>

                <div class="form-group">
                <div class="col-md-11 col-sm-11 col-xs-12 col-md-offset-1">
                    <button (click)="add($event, loctionName)" class="btn btn-success">Submit</button>
                </div>
                </div>
            
        </div>
     </div>
</div>