<setting></setting>
<div class="col-md-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Exchange Rate </h2>  
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="form-horizontal form-label-left input_mask">
                <br>
                <div class="alert alert-success" *ngIf="isSaved">Exchange rate edited successfully</div>
                <div class="form-group">
                <label class="control-label col-md-1 col-sm-1 col-xs-12">Rate</label>
                <div class="col-md-11 col-sm-11 col-xs-12">
                    <input #msgFocous type="text" class="form-control" ngModel name="api_key" [value]="api_key" [(ngModel)]="api_key">
                </div>
                </div>   
                                 
                <div class="form-group">
                <div class="col-md-11 col-sm-11 col-xs-12 col-md-offset-1">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
                </div>
            </form>
        </div>
     </div>
</div>